$mainColor: #c0a7bf;
$mainColorOpacity: rgba(192, 167, 191, 0.31);
$titleColor: #e6e3eb;
$buttonColor: #c8c5cd;
$secondColor: #2482d0;
$titleGrayColor: rgba(82, 82, 82, 0.9);
$greyColor: rgba(88, 88, 88, 0.5);

:root {
  background: -moz-linear-gradient(-45deg, #b45c8c 0%, #81598a 35%, #49558a 73%, #505a8e 100%) no-repeat center center fixed;
  background: -webkit-linear-gradient(-45deg, #b45c8c 0%,#81598a 35%,#49558a 73%,#505a8e 100%) no-repeat center center fixed;
  background: linear-gradient(135deg, #b45c8c 0%,#81598a 35%,#49558a 73%,#505a8e 100%) no-repeat center center fixed;
}

.player {
  margin: 10vh auto;
  text-align: center;
  width: 720px;
  display: flex;
  justify-content: space-between;

  .currentTrack, .trackList {
    color: $mainColor;
    background: rgba(200, 200, 200, 0.175);
    width: 330px;
    height: 600px;

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .playerHeader {
      height: 64px;
      position: relative;

      .leftArrow {
        max-width: 16px;
        padding: 4px;
        position: absolute;
        left: 18px;
        top: 18px;
        border: 2px solid $mainColor;
        border-radius: 100%;
      }

      .plus, .heart {
        max-width: 28px;
        float: right;
        margin: 18px 20px 0 20px;
      }

    }
  }

  .currentTrack {

    .albumPicture {
      height: 220px;
      position: relative;
      background: url('../img/6754.svg') no-repeat center;
      background-size: cover;

      &::after {
        content: '';
        background: -moz-linear-gradient(-75deg, rgba(41,137,216,0) 20%, rgba(41,137,216,0.4) 40%, rgba(36,130,208,0.6) 51%, rgba(32,124,202,0.40) 60%, rgba(32,124,202,0) 80%);
        background: -webkit-linear-gradient(-75deg, rgba(41,137,216,0) 20%,rgba(41,137,216,0.4) 40%,rgba(36,130,208,0.6) 51%,rgba(32,124,202,0.40) 60%,rgba(32,124,202,0) 80%);
        background: linear-gradient(165deg, rgba(41,137,216,0) 20%,rgba(41,137,216,0.40) 40%,rgba(36,130,208,0.6) 51%,rgba(32,124,202,0.40) 60%,rgba(32,124,202,0) 80%);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        position: absolute;
      }

      img {
        max-width: 150px;
        margin: 25px;
        float: left;
      }
    }

    .trackTitle {
      height: 110px;
      text-align: left;
      overflow: hidden;

      .playingAuthor, .playingTitle {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        opacity: 0.9;
      }

      .playingTitle {
        color: #FFFFFF;
        font-size: 1.8em;
        padding: 10px 20px 5px 20px;;
      }

      .playingAuthor {
        padding: 0 20px;
      }
    }

    .timePlay {
      height: 40px;

      .begin, .end {
        padding: 5px 20px;
      }

      .begin {
        color: $titleColor;
        float: left;
      }

      .end {
        float: right;
      }

      .playLine {
        clear: both;
        height: 4px;
        background: $mainColor;
        position: relative;
        cursor: pointer;

        .currentLine{
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          .currentPlace {
            float: left;
            width: 100%;
            border: 2px solid $secondColor;

            .creepingBrick {
              float: right;
              -webkit-box-shadow: 0 0 5px 5px white;
              -moz-box-shadow: 0 0 5px 5px white;
              box-shadow: 0 0 5px 5px white;
            }
          }
        }

      }
    }

    .playerControl {
      height: 100px;
      line-height: 100px;
      font-weight: lighter;

      :first-child {
        margin: 16px;
      }

      img {
        max-width: 28px;
        margin: 10px;
      }

      .playPauseBorder {
        border: 1px solid #a7a9c5;
        border-radius: 100%;
        padding: 21px 0px;;
      }

      :last-child {
        margin: 16px;
      }
    }

    .playInBar {
      width: 100%;
      height: 66px;
      color: #FFF;
      background: $secondColor;
      line-height: 66px;

      .playButton {
        max-width: 25px;
        margin-right: 15px;
      }
    }

  }

  .trackList {

    h4 {
      opacity: 0.7;
      font-size: 0.8em;
      letter-spacing: 0.2em;
      padding-top: 24px;
      text-transform: uppercase;
    }

    .addButton {
      height: 126px;
      width: 85%;
      margin: 0 auto;

      h2 {
        font-weight: lighter;
        color: $titleColor;
      }

      button {
        margin-top: 15px;
        height: 44px;
        font-size: 0.8em;
        letter-spacing: 0.1em;
        color: $buttonColor;
        box-sizing: content-box;
        padding: 2px 0;
        width: 100%;
        border-radius: 15%/80%;
        text-transform: uppercase;
        background: transparent;
        border: 2px solid $mainColorOpacity;
        outline: none;

        &:active {
          border: 4px solid $mainColorOpacity;
        }
      }
    }

    .tracks{
      height: 410px;
      overflow: hidden;
      &:hover {
        overflow: overlay;
      }

      ol {
        margin: 0;
        padding: 0;
        counter-reset: myCounter;

        :nth-child(even) {
          background: #f0f1f5;
        }

        li {
          list-style: none;
          height: 82px;
          background: #ffffff;
          position: relative;
          padding-left: 60px;
          perspective: 800px;

          &:before {
            font-size: 2em;
            counter-increment: myCounter;
            content:counter(myCounter);
            color: $secondColor;
            line-height: 82px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            text-align: left;
            padding-left: 20px;
          }

          .gifDiv {
            display: none;
          }

          &.active {
            position: relative;
            background: #fbdf8d;

            &::before {
              content: '';
              background: url('../img/musicBack.png') no-repeat center;
              background-size: contain;
              opacity: 0.1;
            }

            .gifDiv {
              background: transparent;
              display: block;
              position: absolute;
              left: 10px;
              top: 25px;
              border: 1px solid $mainColor;
              border-radius: 100%;
              .gifImg {
                margin: 10px;
              }
            }
          }

          .titleAndAuthor {
            float: left;
            height: 82px;
            background: inherit;
            text-align: left;
            color: $greyColor;
            width: 175px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transform-style: preserve-3d;
            transition: transform 1s ease;
            position: relative;
            transform-origin: 100% 41px;

            .rotatePart, .backRotatePart {
              position: absolute;
              background: inherit;
              top: 20px;
              left: 0;
            }

            .rotatePart {
              z-index: 2;
            }

            .backRotatePart {
              transform: rotateX(180deg);
              height: 44px;
              width: 100%;
            }

            span {
              color: $greyColor;
              font-size: 0.8em;
            }

            :first-child {
              color: $titleGrayColor;
              font-size: 1em;
            }

          }

          &:hover .titleAndAuthor {
            transform: rotateX(-180deg);
          }

          .votes {
            background: transparent;
            float: right;
            color: $greyColor;
            margin-top: 55px;
            margin-right: 25px;
            font-size: 0.7em;
          }

        }

      }

    }

  }

}