@import url(base/normalize.css);
.currentTrack, .trackList {
  color: #c0a7bf;
  background: rgba(200, 200, 200, 0.175);
  width: 330px;
  height: 600px; }

:root {
  background: -moz-linear-gradient(-45deg, #b45c8c 0%, #81598a 35%, #49558a 73%, #505a8e 100%) no-repeat center center fixed;
  background: -webkit-linear-gradient(-45deg, #b45c8c 0%, #81598a 35%, #49558a 73%, #505a8e 100%) no-repeat center center fixed;
  background: linear-gradient(135deg, #b45c8c 0%, #81598a 35%, #49558a 73%, #505a8e 100%) no-repeat center center fixed; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.playerHeader {
  height: 64px;
  position: relative; }
  .playerHeader .leftArrow {
    max-width: 16px;
    padding: 4px;
    position: absolute;
    left: 18px;
    top: 18px;
    border: 2px solid #c0a7bf;
    border-radius: 100%; }
  .playerHeader .plus, .playerHeader .heart {
    max-width: 28px;
    float: right;
    margin: 18px 20px 0 20px; }

ol {
  margin: 0;
  padding: 0;
  counter-reset: myCounter; }

li {
  list-style: none;
  height: 82px;
  background: #ffffff;
  position: relative;
  padding-left: 60px;
  perspective: 800px; }
  li:nth-child(even) {
    background: #f0f1f5; }
  li:before {
    font-size: 2em;
    counter-increment: myCounter;
    content: counter(myCounter);
    color: #2482d0;
    line-height: 82px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: left;
    padding-left: 20px;
    z-index: 9; }
  li .gifDiv {
    display: none; }
  li .votes {
    background: transparent;
    float: right;
    color: rgba(88, 88, 88, 0.5);
    margin-top: 55px;
    margin-right: 25px;
    font-size: 0.7em; }

li.active {
  position: relative;
  background: #fbdf8d; }
  li.active::before {
    content: '';
    background: url("../img/musicBack.png") no-repeat center;
    background-size: contain;
    opacity: 0.1; }
  li.active .gifDiv {
    background: transparent;
    display: block;
    position: absolute;
    left: 10px;
    top: 25px;
    border: 1px solid #c0a7bf;
    border-radius: 100%; }
    li.active .gifDiv .gifImg {
      margin: 10px; }

.titleAndAuthor {
  float: left;
  height: 82px;
  background: inherit;
  text-align: left;
  color: rgba(88, 88, 88, 0.5);
  width: 175px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform-style: preserve-3d;
  transition: transform 1s ease;
  position: relative;
  transform-origin: 100% 41px; }
  .titleAndAuthor .rotatePart, .titleAndAuthor .backRotatePart {
    position: absolute;
    background: inherit;
    top: 20px;
    left: 0; }
  .titleAndAuthor .rotatePart {
    z-index: 2;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; }
  .titleAndAuthor .backRotatePart {
    transform: rotateX(180deg);
    height: 44px;
    width: 100%; }
  .titleAndAuthor span {
    color: rgba(88, 88, 88, 0.5);
    font-size: 0.8em; }
  .titleAndAuthor :first-child {
    color: rgba(82, 82, 82, 0.9);
    font-size: 1em; }

li:hover .titleAndAuthor {
  transform: rotateX(-180deg); }

.player {
  margin: 10vh auto;
  text-align: center;
  width: 720px;
  display: flex;
  justify-content: space-between; }

.albumPicture {
  height: 220px;
  position: relative;
  background: url("../img/6754.svg") no-repeat center;
  background-size: cover; }
  .albumPicture::after {
    content: '';
    background: -moz-linear-gradient(-75deg, rgba(41, 137, 216, 0) 20%, rgba(41, 137, 216, 0.4) 40%, rgba(36, 130, 208, 0.6) 51%, rgba(32, 124, 202, 0.4) 60%, rgba(32, 124, 202, 0) 80%);
    background: -webkit-linear-gradient(-75deg, rgba(41, 137, 216, 0) 20%, rgba(41, 137, 216, 0.4) 40%, rgba(36, 130, 208, 0.6) 51%, rgba(32, 124, 202, 0.4) 60%, rgba(32, 124, 202, 0) 80%);
    background: linear-gradient(165deg, rgba(41, 137, 216, 0) 20%, rgba(41, 137, 216, 0.4) 40%, rgba(36, 130, 208, 0.6) 51%, rgba(32, 124, 202, 0.4) 60%, rgba(32, 124, 202, 0) 80%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    position: absolute; }
  .albumPicture img {
    max-width: 150px;
    margin: 25px;
    float: left; }

.trackTitle {
  height: 110px;
  text-align: left;
  overflow: hidden; }
  .trackTitle .playingAuthor, .trackTitle .playingTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0.9; }
  .trackTitle .playingTitle {
    color: #FFFFFF;
    font-size: 1.8em;
    padding: 10px 20px 5px 20px; }
  .trackTitle .playingAuthor {
    padding: 0 20px; }

.playerControl {
  height: 100px;
  line-height: 100px;
  font-weight: lighter; }
  .playerControl :first-child {
    margin: 16px; }
  .playerControl img {
    max-width: 28px;
    margin: 10px; }
  .playerControl .playPauseBorder {
    display: inline-flex;
    width: 62px;
    height: 62px;
    border: 1px solid #a7a9c5;
    border-radius: 100%;
    vertical-align: middle; }
    .playerControl .playPauseBorder .pausePlay {
      display: none; }
    .playerControl .playPauseBorder .playPause {
      display: inherit; }
    .playerControl .playPauseBorder.playing .pausePlay {
      display: inherit; }
    .playerControl .playPauseBorder.playing .playPause {
      display: none; }
  .playerControl :last-child {
    margin: 16px; }

.timePlay {
  height: 40px; }
  .timePlay .begin, .timePlay .end {
    padding: 5px 20px; }
  .timePlay .begin {
    color: #e6e3eb;
    float: left; }
  .timePlay .end {
    float: right; }
  .timePlay .playLine {
    clear: both;
    height: 4px;
    background: #c0a7bf;
    position: relative;
    cursor: pointer; }
    .timePlay .playLine .currentLine {
      position: absolute;
      left: 0;
      top: 0;
      width: 0; }
      .timePlay .playLine .currentLine .currentPlace {
        float: left;
        width: 100%;
        border: 2px solid #2482d0; }
        .timePlay .playLine .currentLine .currentPlace .creepingBrick {
          float: right;
          -webkit-box-shadow: 0 0 5px 5px white;
          -moz-box-shadow: 0 0 5px 5px white;
          box-shadow: 0 0 5px 5px white; }

.playInBar {
  width: 100%;
  height: 66px;
  color: #FFF;
  background: #2482d0;
  line-height: 66px; }
  .playInBar .playButton {
    max-width: 25px;
    margin-right: 15px; }

h4 {
  opacity: 0.7;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  padding-top: 24px;
  text-transform: uppercase; }

.addButton {
  height: 126px;
  width: 85%;
  margin: 0 auto; }
  .addButton h2 {
    font-weight: lighter;
    color: #e6e3eb; }
  .addButton button {
    margin-top: 15px;
    height: 44px;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    color: #c8c5cd;
    box-sizing: content-box;
    padding: 2px 0;
    width: 100%;
    border-radius: 15%/80%;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid rgba(192, 167, 191, 0.31);
    outline: none; }
    .addButton button:active {
      border: 4px solid rgba(192, 167, 191, 0.31); }

.tracks {
  height: 410px;
  overflow: hidden; }
  .tracks:hover {
    overflow: overlay; }

/*# sourceMappingURL=main.css.map */
