:root {
  background: -moz-linear-gradient(-45deg, #b45c8c 0%, #81598a 35%, #49558a 73%, #505a8e 100%) no-repeat center center fixed;
  background: -webkit-linear-gradient(-45deg, #b45c8c 0%, #81598a 35%, #49558a 73%, #505a8e 100%) no-repeat center center fixed;
  background: linear-gradient(135deg, #b45c8c 0%, #81598a 35%, #49558a 73%, #505a8e 100%) no-repeat center center fixed; }

.player {
  margin: 10vh auto;
  text-align: center;
  width: 720px;
  display: flex;
  justify-content: space-between; }
  .player .currentTrack, .player .trackList {
    color: #c0a7bf;
    background: rgba(200, 200, 200, 0.175);
    width: 330px;
    height: 600px; }
    .player .currentTrack h1, .player .currentTrack h2, .player .currentTrack h3, .player .currentTrack h4, .player .currentTrack h5, .player .currentTrack h6, .player .trackList h1, .player .trackList h2, .player .trackList h3, .player .trackList h4, .player .trackList h5, .player .trackList h6 {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .player .currentTrack .playerHeader, .player .trackList .playerHeader {
      height: 64px;
      position: relative; }
      .player .currentTrack .playerHeader .leftArrow, .player .trackList .playerHeader .leftArrow {
        max-width: 16px;
        padding: 4px;
        position: absolute;
        left: 18px;
        top: 18px;
        border: 2px solid #c0a7bf;
        border-radius: 100%; }
      .player .currentTrack .playerHeader .plus, .player .currentTrack .playerHeader .heart, .player .trackList .playerHeader .plus, .player .trackList .playerHeader .heart {
        max-width: 28px;
        float: right;
        margin: 18px 20px 0 20px; }
  .player .currentTrack .albumPicture {
    height: 220px;
    position: relative;
    background: url("../img/6754.svg") no-repeat center;
    background-size: cover; }
    .player .currentTrack .albumPicture::after {
      content: '';
      background: -moz-linear-gradient(-75deg, rgba(41, 137, 216, 0) 20%, rgba(41, 137, 216, 0.4) 40%, rgba(36, 130, 208, 0.6) 51%, rgba(32, 124, 202, 0.4) 60%, rgba(32, 124, 202, 0) 80%);
      background: -webkit-linear-gradient(-75deg, rgba(41, 137, 216, 0) 20%, rgba(41, 137, 216, 0.4) 40%, rgba(36, 130, 208, 0.6) 51%, rgba(32, 124, 202, 0.4) 60%, rgba(32, 124, 202, 0) 80%);
      background: linear-gradient(165deg, rgba(41, 137, 216, 0) 20%, rgba(41, 137, 216, 0.4) 40%, rgba(36, 130, 208, 0.6) 51%, rgba(32, 124, 202, 0.4) 60%, rgba(32, 124, 202, 0) 80%);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      position: absolute; }
    .player .currentTrack .albumPicture img {
      max-width: 150px;
      margin: 25px;
      float: left; }
  .player .currentTrack .trackTitle {
    height: 110px;
    text-align: left;
    overflow: hidden; }
    .player .currentTrack .trackTitle .playingAuthor, .player .currentTrack .trackTitle .playingTitle {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      opacity: 0.9; }
    .player .currentTrack .trackTitle .playingTitle {
      color: #FFFFFF;
      font-size: 1.8em;
      padding: 10px 20px 5px 20px; }
    .player .currentTrack .trackTitle .playingAuthor {
      padding: 0 20px; }
  .player .currentTrack .timePlay {
    height: 40px; }
    .player .currentTrack .timePlay .begin, .player .currentTrack .timePlay .end {
      padding: 5px 20px; }
    .player .currentTrack .timePlay .begin {
      color: #e6e3eb;
      float: left; }
    .player .currentTrack .timePlay .end {
      float: right; }
    .player .currentTrack .timePlay .playLine {
      clear: both;
      border: 2px solid #c0a7bf; }
  .player .currentTrack .playerControl {
    height: 100px;
    line-height: 100px;
    font-weight: lighter; }
    .player .currentTrack .playerControl :first-child {
      margin: 16px; }
    .player .currentTrack .playerControl img {
      max-width: 28px;
      margin: 10px; }
    .player .currentTrack .playerControl .playPauseBorder {
      border: 1px solid #a7a9c5;
      border-radius: 100%;
      padding: 21px 0px; }
    .player .currentTrack .playerControl :last-child {
      margin: 16px; }
  .player .currentTrack .playInBar {
    width: 100%;
    height: 66px;
    color: #FFF;
    background: #2482d0;
    line-height: 66px; }
    .player .currentTrack .playInBar .playButton {
      max-width: 25px;
      margin-right: 15px; }
  .player .trackList h4 {
    opacity: 0.7;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    padding-top: 24px;
    text-transform: uppercase; }
  .player .trackList .addButton {
    height: 126px;
    width: 85%;
    margin: 0 auto; }
    .player .trackList .addButton h2 {
      font-weight: lighter;
      color: #e6e3eb; }
    .player .trackList .addButton button {
      margin-top: 15px;
      height: 44px;
      font-size: 0.8em;
      letter-spacing: 0.1em;
      color: #c8c5cd;
      box-sizing: content-box;
      padding: 2px 0;
      width: 100%;
      border-radius: 15%/80%;
      text-transform: uppercase;
      background: transparent;
      border: 2px solid rgba(192, 167, 191, 0.31);
      outline: none; }
      .player .trackList .addButton button:active {
        border: 4px solid rgba(192, 167, 191, 0.31); }
  .player .trackList .tracks ul {
    margin: 0;
    padding: 0; }
    .player .trackList .tracks ul :nth-child(even) {
      background: #f0f1f5; }
    .player .trackList .tracks ul li {
      list-style: none;
      height: 82px;
      background: #ffffff; }
      .player .trackList .tracks ul li.active {
        position: relative;
        background: #fbdf8d; }
        .player .trackList .tracks ul li.active::before {
          content: '';
          background: url("../img/musicBack.png") no-repeat center;
          background-size: contain;
          opacity: 0.1;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          position: absolute; }
      .player .trackList .tracks ul li .trackNumber {
        font-size: 2em;
        padding: 20px 30px 0 30px;
        color: #2482d0;
        float: left; }
      .player .trackList .tracks ul li .titleAndAuthor {
        float: left;
        padding-top: 20px;
        background: transparent;
        text-align: left;
        color: rgba(88, 88, 88, 0.5);
        width: 175px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        .player .trackList .tracks ul li .titleAndAuthor span {
          color: rgba(88, 88, 88, 0.5);
          font-size: 0.8em; }
        .player .trackList .tracks ul li .titleAndAuthor :first-child {
          color: rgba(82, 82, 82, 0.9);
          font-size: 1em; }
      .player .trackList .tracks ul li .votes {
        float: right;
        color: rgba(88, 88, 88, 0.5);
        padding-top: 55px;
        padding-right: 25px;
        font-size: 0.7em; }

/*# sourceMappingURL=style.css.map */
