.playerControl {
  height: 100px;
  line-height: 100px;
  font-weight: lighter;

  :first-child {
    margin: 16px;
  }

  img {
    max-width: 28px;
    margin: 10px;
  }

  .playPauseBorder {
    border: 1px solid #a7a9c5;
    border-radius: 100%;
    padding: 21px 0px;;
  }

  :last-child {
    margin: 16px;
  }
}