.trackList {

  h4 {
    opacity: 0.7;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    padding-top: 24px;
    text-transform: uppercase;
  }

  .addButton {
    height: 126px;
    width: 85%;
    margin: 0 auto;

    h2 {
      font-weight: lighter;
      color: $titleColor;
    }

    button {
      margin-top: 15px;
      height: 44px;
      font-size: 0.8em;
      letter-spacing: 0.1em;
      color: $buttonColor;
      box-sizing: content-box;
      padding: 2px 0;
      width: 100%;
      border-radius: 15%/80%;
      text-transform: uppercase;
      background: transparent;
      border: 2px solid $mainColorOpacity;
      outline: none;

      &:active {
        border: 4px solid $mainColorOpacity;
      }
    }
  }

  .tracks{
    height: 410px;
    overflow: hidden;
    &:hover {
      overflow: overlay;
    }

    ol {
      margin: 0;
      padding: 0;
      counter-reset: myCounter;

      :nth-child(even) {
        background: #f0f1f5;
      }

      li {
        list-style: none;
        height: 82px;
        background: #ffffff;
        position: relative;
        padding-left: 60px;
        perspective: 800px;

        &:before {
          font-size: 2em;
          counter-increment: myCounter;
          content:counter(myCounter);
          color: $secondColor;
          line-height: 82px;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          position: absolute;
          text-align: left;
          padding-left: 20px;
        }

        .gifDiv {
          display: none;
        }

        &.active {
          position: relative;
          background: #fbdf8d;

          &::before {
            content: '';
            background: url('../img/musicBack.png') no-repeat center;
            background-size: contain;
            opacity: 0.1;
          }

          .gifDiv {
            background: transparent;
            display: block;
            position: absolute;
            left: 10px;
            top: 25px;
            border: 1px solid $mainColor;
            border-radius: 100%;
            .gifImg {
              margin: 10px;
            }
          }
        }

        .titleAndAuthor {
          float: left;
          height: 82px;
          background: inherit;
          text-align: left;
          color: $greyColor;
          width: 175px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          transform-style: preserve-3d;
          transition: transform 1s ease;
          position: relative;
          transform-origin: 100% 41px;

          .rotatePart, .backRotatePart {
            position: absolute;
            background: inherit;
            top: 20px;
            left: 0;
          }

          .rotatePart {
            z-index: 2;
          }

          .backRotatePart {
            transform: rotateX(180deg);
            height: 44px;
            width: 100%;
          }

          span {
            color: $greyColor;
            font-size: 0.8em;
          }

          :first-child {
            color: $titleGrayColor;
            font-size: 1em;
          }

        }

        &:hover .titleAndAuthor {
          transform: rotateX(-180deg);
        }

        .votes {
          background: transparent;
          float: right;
          color: $greyColor;
          margin-top: 55px;
          margin-right: 25px;
          font-size: 0.7em;
        }

      }

    }

  }

}