$mainColor: #c0a7bf;
$mainColorOpacity: rgba(192, 167, 191, 0.31);
$titleColor: #e6e3eb;
$buttonColor: #c8c5cd;
$secondColor: #2482d0;
$titleGrayColor: rgba(82, 82, 82, 0.9);
$greyColor: rgba(88, 88, 88, 0.5);